.pointer {
  cursor: pointer;
  &:hover {
    background-color: rgba(0,0,0,0.1);
  }
}

.active {
  background-color: #212529;

  &:hover {
    background-color: #212529f6;
  }

  & > * {
    color: #fff;
  }
}
